---
layout: layouts/base.njk
---
<section class="content content-full h-entry">
  <div class="post-body">
    <pre class="post-meta"> TITLE: <span class="p-name">{{ title | upper }}</span>
 DATE:  <time class="dt-published" datetime="{{ date | dateToRfc3339 }}">{{ date | dateDisplay }}</time></pre>

    <span class="p-author h-card" hidden><a class="p-name u-url" href="{{ site.url }}">{{ site.author }}</a></span>

    <div class="e-content">
    {{ content | safe }}
    </div>

    <p class="post-nav">Type 200 for index.</p>

    <script src="https://giscus.app/client.js"
      data-repo="krzlew/vcard"
      data-repo-id="R_kgDOUQ5z9A"
      data-category="Announcements"
      data-category-id="DIC_kwDOUQ5z9M4DFDbo"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="transparent_dark"
      data-lang="en"
      crossorigin="anonymous"
      async>
    </script>
  </div>
</section>

<script type="application/ld+json">{{ {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "@id": site.url + page.url,
  "mainEntityOfPage": { "@type": "WebPage", "@id": site.url + page.url },
  "headline": title,
  "description": summary,
  "image": site.url + "/avatar-pixel-small.png",
  "datePublished": date,
  "dateModified": date,
  "author": { "@type": "Person", "name": site.author, "url": site.url },
  "publisher": { "@type": "Person", "name": site.author, "url": site.url },
  "url": site.url + page.url
} | jsonStringify | safe }}</script>
