---
layout: layouts/base.njk
---
<section class="content content-full">
  <div class="post-body">
    <pre class="post-meta"> TITLE: {{ title | upper }}
 DATE:  {{ date | dateDisplay }}</pre>

    {{ content | safe }}

    <p class="post-nav">Type 200 for index.</p>
  </div>
</section>

<script type="application/ld+json">{{ {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "@id": site.url + page.url,
  "mainEntityOfPage": { "@type": "WebPage", "@id": site.url + page.url },
  "headline": title,
  "description": summary,
  "image": site.url + "/avatar-pixel.png",
  "datePublished": date,
  "dateModified": date,
  "author": { "@type": "Person", "name": site.author, "url": site.url },
  "publisher": { "@type": "Person", "name": site.author, "url": site.url },
  "url": site.url + page.url
} | jsonStringify | safe }}</script>
